In [13]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt
import collections
%matplotlib inline

from sklearn import linear_model
from sklearn import metrics
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from scipy import stats
from statsmodels.formula.api import ols
from statsmodels.graphics.gofplots import qqplot
from math import sqrt

# SGD

In [2]:
# read in saved csv files 
pd.set_option('display.max_columns', 30)
filename = 'departure_joindf.csv'
departure_joindf = pd.read_csv(filename)
departure_joindf.head()

,from_station_name,year,month,day,hour,num_day_of_week,tripduration,temperature,events_cloudy_pct,events_clear_pct,events_not clear_pct,events_rain or snow_pct,events_tstorms_pct,events_unknown_pct,usertype_Customer_pct,usertype_Dependent_pct,usertype_Subscriber_pct,gender_Female_pct,gender_Male_pct,trip_count
0,2112 W Peterson Ave,2015,5,17,14,6,16.550000,81.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,1
1,2112 W Peterson Ave,2015,5,18,10,0,4.166667,75.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,100.0,1
2,2112 W Peterson Ave,2015,5,22,17,4,13.616667,60.1,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,100.0,1
3,2112 W Peterson Ave,2015,5,27,15,2,14.300000,71.1,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,100.0,1
4,2112 W Peterson Ave,2015,5,27,18,2,15.450000,72.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,100.0,1

In [3]:
"""
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import SGDClassifier

n_samples, n_features = 10, 5
np.random.seed(0)
y = np.random.randn(n_samples)
X = np.random.randn(n_samples, n_features)

sgd = linear_model.SGDRegressor(max_iter=1000, tol=1e-3)
sgd.fit(X, y)
"""

'\nimport numpy as np\nfrom sklearn import linear_model\nfrom sklearn.linear_model import SGDClassifier\n\nn_samples, n_features = 10, 5\nnp.random.seed(0)\ny = np.random.randn(n_samples)\nX = np.random.randn(n_samples, n_features)\n\nsgd = linear_model.SGDRegressor(max_iter=1000, tol=1e-3)\nsgd.fit(X, y)\n'

In [4]:
Xdata = departure_joindf.drop(['trip_count'],axis=1)

In [5]:
X = pd.get_dummies(Xdata, 'from_station_name').values

In [6]:
X

array([[2.015e+03, 5.000e+00, 1.700e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.015e+03, 5.000e+00, 1.800e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.015e+03, 5.000e+00, 2.200e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [2.017e+03, 1.200e+01, 7.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [2.017e+03, 1.200e+01, 1.200e+01, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [2.017e+03, 1.200e+01, 1.300e+01, ..., 0.000e+00, 0.000e+00,
        1.000e+00]])

In [7]:
y = departure_joindf['trip_count'].values

In [8]:
# SGD regressor
sgd = linear_model.SGDRegressor(max_iter=1000, tol=1e-3)
sgd.fit(X, y)

SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=1000, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=0.001, verbose=0,
       warm_start=False)

In [9]:
y_pred = sgd.predict(X)

In [11]:
mse = mean_squared_error(y, y_pred)

In [14]:
print("RMSE: ", sqrt(mse))

RMSE:  187412337394872.94

In [15]:
sgd.score(X,y)

-4.296406403287649e+27