In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt
import collections
%matplotlib inline

from sklearn import linear_model
from sklearn import metrics
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from scipy import stats
from statsmodels.formula.api import ols

# Raw DataFrame

In [2]:
# read in the Chicagov Divvy Bicycle Sharing Data csv files from Kaggle
pd.set_option('display.max_columns', 30)
filename = 'Divvy_Stations_2014-Q1Q2.csv'
stationdf = pd.read_csv(filename)
stationdf.head()

,id,name,latitude,longitude,dpcapacity,online date
0,43,Michigan Ave & Washington St,41.883893,-87.624649,43,6/16/13
1,44,State St & Randolph St,41.884730,-87.627734,27,6/16/13
2,33,State St & Van Buren St,41.877181,-87.627844,27,6/25/13
3,199,Wabash Ave & Grand Ave,41.891738,-87.626937,15,8/10/13
4,51,Clark St & Randolph St,41.884576,-87.631890,31,6/17/13

In [3]:
# read in the Chicagov Divvy Bicycle Sharing Data csv files from Kaggle
pd.set_option('display.max_columns', 30)
filename = 'Divvy_Trips_2014_Q1Q2.csv'
tripdf = pd.read_csv(filename)
tripdf.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,2355134,6/30/2014 23:57,7/1/2014 0:07,2006,604,131,Lincoln Ave & Belmont Ave,303,Broadway & Cornelia Ave,Subscriber,Male,1988.0
1,2355133,6/30/2014 23:56,7/1/2014 0:00,2217,263,282,Halsted St & Maxwell St,22,May St & Taylor St,Subscriber,Male,1992.0
2,2355130,6/30/2014 23:33,6/30/2014 23:35,2798,126,327,Sheffield Ave & Webster Ave,225,Halsted St & Dickens Ave,Subscriber,Male,1993.0
3,2355129,6/30/2014 23:26,7/1/2014 0:24,173,3481,134,Peoria St & Jackson Blvd,194,State St & Wacker Dr,Subscriber,Female,1988.0
4,2355128,6/30/2014 23:16,6/30/2014 23:26,173,638,320,Loomis St & Lexington St,134,Peoria St & Jackson Blvd,Subscriber,Female,1988.0

In [4]:
tripdf = tripdf[['trip_id','starttime','stoptime','from_station_id','from_station_name','to_station_id','to_station_name']]

In [5]:
stationdf = stationdf[['name','dpcapacity']]

In [6]:
stationdata = pd.merge(tripdf, stationdf, how='left',left_on=['from_station_name'], right_on='name')
stationdata = stationdata.sort_values('starttime')

In [7]:
stationdata.head()

,trip_id,starttime,stoptime,from_station_id,from_station_name,to_station_id,to_station_name,name,dpcapacity
905698,1109420,1/1/2014 0:17,1/1/2014 0:42,94,Clark St & Armitage Ave,69,Damen Ave & Pierce Ave,Clark St & Armitage Ave,19
905697,1109421,1/1/2014 0:45,1/1/2014 0:55,69,Damen Ave & Pierce Ave,216,California Ave & Division St,Damen Ave & Pierce Ave,19
905649,1109572,1/1/2014 10:13,1/1/2014 10:39,29,Noble St & Milwaukee Ave,222,Milwaukee Ave & Rockwell St,Noble St & Milwaukee Ave,15
905648,1109575,1/1/2014 10:23,1/1/2014 10:31,289,Wells St & Concord Ln,224,Halsted St & Willow St,Wells St & Concord Ln,19
905645,1109578,1/1/2014 10:38,1/1/2014 10:57,152,Lincoln Ave & Diversey Pkwy,291,Wells St & Evergreen Ave,Lincoln Ave & Diversey Pkwy,15

In [8]:
stationdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 905699 entries, 905698 to 249031
Data columns (total 9 columns):
trip_id              905699 non-null int64
starttime            905699 non-null object
stoptime             905699 non-null object
from_station_id      905699 non-null int64
from_station_name    905699 non-null object
to_station_id        905699 non-null int64
to_station_name      905699 non-null object
name                 905699 non-null object
dpcapacity           905699 non-null int64
dtypes: int64(4), object(5)
memory usage: 69.1+ MB

# Data Cleaning and Wrangling

### Trip ID Column

In [9]:
# check for unique trip_ids
stationdata.trip_id.value_counts();

In [10]:
# since there were some trip_ids with more than one count, determine the count of unique rows
stationdata.trip_id.nunique()

905699

In [11]:
# make sure the entries match our nunique count 
stationdata.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 905699 entries, 905698 to 249031
Data columns (total 9 columns):
trip_id              905699 non-null int64
starttime            905699 non-null object
stoptime             905699 non-null object
from_station_id      905699 non-null int64
from_station_name    905699 non-null object
to_station_id        905699 non-null int64
to_station_name      905699 non-null object
name                 905699 non-null object
dpcapacity           905699 non-null int64
dtypes: int64(4), object(5)
memory usage: 69.1+ MB

### General cleaning steps for easier use

In [12]:
# convert start and stop times to datetimes
stationdata['starttime'] = pd.to_datetime(stationdata['starttime'])
stationdata['stoptime'] = pd.to_datetime(stationdata['stoptime'])

### Capacity

In [13]:
departures = stationdata[['starttime','from_station_name','trip_id']].sort_values(['from_station_name','starttime'])
departures = departures.rename(columns={'starttime':'datetime','from_station_name':'station_name'})

departures.head()

                  datetime    station_name  trip_id
904881 2014-01-09 12:11:00  900 W Harrison  1111738
904715 2014-01-09 16:48:00  900 W Harrison  1112226
904512 2014-01-09 18:43:00  900 W Harrison  1112605
904509 2014-01-09 18:45:00  900 W Harrison  1112609
903649 2014-01-10 17:39:00  900 W Harrison  1114754

In [14]:
# each departure is given a 1 value
departures['trip_counts'] = 1
departures.head()

                  datetime    station_name  trip_id  trip_counts
904881 2014-01-09 12:11:00  900 W Harrison  1111738            1
904715 2014-01-09 16:48:00  900 W Harrison  1112226            1
904512 2014-01-09 18:43:00  900 W Harrison  1112605            1
904509 2014-01-09 18:45:00  900 W Harrison  1112609            1
903649 2014-01-10 17:39:00  900 W Harrison  1114754            1

In [15]:
departures.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 905699 entries, 904881 to 331
Data columns (total 4 columns):
datetime        905699 non-null datetime64[ns]
station_name    905699 non-null object
trip_id         905699 non-null int64
trip_counts     905699 non-null int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 34.5+ MB

In [16]:
arrivals = stationdata[['starttime','to_station_name','trip_id']].sort_values(['to_station_name','starttime'])
arrivals = arrivals.rename(columns={'starttime':'datetime','to_station_name':'station_name'})

arrivals.head()

                  datetime    station_name  trip_id
905030 2014-01-09 08:45:00  900 W Harrison  1111310
904512 2014-01-09 18:43:00  900 W Harrison  1112605
904086 2014-01-10 08:44:00  900 W Harrison  1113554
904039 2014-01-10 09:01:00  900 W Harrison  1113612
901677 2014-01-13 06:05:00  900 W Harrison  1118830

In [17]:
# each arrivals is given a -1 value
arrivals['trip_counts'] = -1
arrivals.head()

                  datetime    station_name  trip_id  trip_counts
905030 2014-01-09 08:45:00  900 W Harrison  1111310           -1
904512 2014-01-09 18:43:00  900 W Harrison  1112605           -1
904086 2014-01-10 08:44:00  900 W Harrison  1113554           -1
904039 2014-01-10 09:01:00  900 W Harrison  1113612           -1
901677 2014-01-13 06:05:00  900 W Harrison  1118830           -1

In [18]:
departures_and_arrivals = pd.concat([departures, arrivals])
departures_and_arrivals = departures_and_arrivals.sort_values(['station_name','datetime'])
departures_and_arrivals['date'] = departures_and_arrivals['datetime'].dt.date
departures_and_arrivals = departures_and_arrivals[['datetime','date','station_name','trip_id','trip_counts']]
departures_and_arrivals.head()

                  datetime        date    station_name  trip_id  trip_counts
905030 2014-01-09 08:45:00  2014-01-09  900 W Harrison  1111310           -1
904881 2014-01-09 12:11:00  2014-01-09  900 W Harrison  1111738            1
904715 2014-01-09 16:48:00  2014-01-09  900 W Harrison  1112226            1
904512 2014-01-09 18:43:00  2014-01-09  900 W Harrison  1112605            1
904512 2014-01-09 18:43:00  2014-01-09  900 W Harrison  1112605           -1

In [19]:
departures_and_arrivals.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1811398 entries, 905030 to 331
Data columns (total 5 columns):
datetime        1811398 non-null datetime64[ns]
date            1811398 non-null object
station_name    1811398 non-null object
trip_id         1811398 non-null int64
trip_counts     1811398 non-null int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 82.9+ MB

In [20]:
# get running sum of departures-arrivals
departures_and_arrivals['cumulative_sum'] = departures_and_arrivals.groupby(['station_name','date'])['trip_counts'].cumsum()
departures_and_arrivals

,datetime,date,station_name,trip_id,trip_counts,cumulative_sum
905030,2014-01-09 08:45:00,2014-01-09,900 W Harrison,1111310,-1,-1
904881,2014-01-09 12:11:00,2014-01-09,900 W Harrison,1111738,1,0
904715,2014-01-09 16:48:00,2014-01-09,900 W Harrison,1112226,1,1
904512,2014-01-09 18:43:00,2014-01-09,900 W Harrison,1112605,1,2
904512,2014-01-09 18:43:00,2014-01-09,900 W Harrison,1112605,-1,1
904509,2014-01-09 18:45:00,2014-01-09,900 W Harrison,1112609,1,2
904086,2014-01-10 08:44:00,2014-01-10,900 W Harrison,1113554,-1,-1
904039,2014-01-10 09:01:00,2014-01-10,900 W Harrison,1113612,-1,-2
903649,2014-01-10 17:39:00,2014-01-10,900 W Harrison,1114754,1,-1
902956,2014-01-11 16:57:00,2014-01-11,900 W Harrison,1116552,1,1
902395,2014-01-12 12:14:00,2014-01-12,900 W Harrison,1117580,1,1
902364,2014-01-12 12:31:00,2014-01-12,900 W Harrison,1117641,1,2
901677,2014-01-13 06:05:00,2014-01-13,900 W Harrison,1118830,-1,-1
901536,2014-01-13 07:24:00,2014-01-13,900 W Harrison,1119066,1,0
901141,2014-01-13 08:47:00,2014-01-13,900 W Harrison,1119603,-1,-1
900995,2014-01-13 09:28:00,2014-01-13,900 W Harrison,1119818,-1,-2
900290,2014-01-13 16:02:00,2014-01-13,900 W Harrison,1120991,-1,-3
900255,2014-01-13 16:15:00,2014-01-13,900 W Harrison,1121036,1,-2
900255,2014-01-13 16:15:00,2014-01-13,900 W Harrison,1121036,-1,-3
900076,2014-01-13 16:59:00,2014-01-13,900 W Harrison,1121290,1,-2
899707,2014-01-13 17:46:00,2014-01-13,900 W Harrison,1121748,1,-1
899496,2014-01-13 18:34:00,2014-01-13,900 W Harrison,1122017,1,0
898865,2014-01-14 07:25:00,2014-01-14,900 W Harrison,1122962,-1,-1
898590,2014-01-14 08:22:00,2014-01-14,900 W Harrison,1123311,-1,-2
898459,2014-01-14 08:41:00,2014-01-14,900 W Harrison,1123479,-1,-3
898348,2014-01-14 09:11:00,2014-01-14,900 W Harrison,1123631,-1,-4
898301,2014-01-14 09:27:00,2014-01-14,900 W Harrison,1123699,-1,-5
898148,2014-01-14 11:21:00,2014-01-14,900 W Harrison,1123965,1,-4
898140,2014-01-14 11:34:00,2014-01-14,900 W Harrison,1123983,1,-3
898091,2014-01-14 12:32:00,2014-01-14,900 W Harrison,1124097,1,-2
...,...,...,...,...,...,...
12829,2014-06-29 18:07:00,2014-06-29,Woodlawn Ave & 55th St,2338538,-1,1
11813,2014-06-29 19:10:00,2014-06-29,Woodlawn Ave & 55th St,2339724,-1,0
11770,2014-06-29 19:13:00,2014-06-29,Woodlawn Ave & 55th St,2339781,1,1
11552,2014-06-29 19:28:00,2014-06-29,Woodlawn Ave & 55th St,2340057,-1,0
10454,2014-06-29 20:59:00,2014-06-29,Woodlawn Ave & 55th St,2341489,-1,-1
10270,2014-06-29 21:15:00,2014-06-29,Woodlawn Ave & 55th St,2341720,1,0
10215,2014-06-29 21:23:00,2014-06-29,Woodlawn Ave & 55th St,2341780,-1,-1
10051,2014-06-29 21:42:00,2014-06-29,Woodlawn Ave & 55th St,2341991,-1,-2
10050,2014-06-29 21:42:00,2014-06-29,Woodlawn Ave & 55th St,2341992,-1,-3
9827,2014-06-29 22:21:00,2014-06-29,Woodlawn Ave & 55th St,2342279,-1,-4
9524,2014-06-29 23:26:00,2014-06-29,Woodlawn Ave & 55th St,2342697,1,-3
8292,2014-06-30 07:57:00,2014-06-30,Woodlawn Ave & 55th St,2344308,-1,-1
8201,2014-06-30 08:04:00,2014-06-30,Woodlawn Ave & 55th St,2344429,1,0
8162,2014-06-30 08:07:00,2014-06-30,Woodlawn Ave & 55th St,2344477,1,1
8027,2014-06-30 08:16:00,2014-06-30,Woodlawn Ave & 55th St,2344659,1,2
7555,2014-06-30 08:43:00,2014-06-30,Woodlawn Ave & 55th St,2345289,-1,1
7286,2014-06-30 09:03:00,2014-06-30,Woodlawn Ave & 55th St,2345644,-1,0
6670,2014-06-30 10:28:00,2014-06-30,Woodlawn Ave & 55th St,2346552,-1,-1
3963,2014-06-30 15:20:00,2014-06-30,Woodlawn Ave & 55th St,2349879,-1,-2
3656,2014-06-30 15:47:00,2014-06-30,Woodlawn Ave & 55th St,2350282,1,-1
3660,2014-06-30 15:47:00,2014-06-30,Woodlawn Ave & 55th St,2350278,1,0
2634,2014-06-30 16:56:00,2014-06-30,Woodlawn Ave & 55th St,2351600,1,1
2407,2014-06-30 17:05:00,2014-06-30,Woodlawn Ave & 55th St,2351895,1,2
2407,2014-06-30 17:05:00,2014-06-30,Woodlawn Ave & 55th St,2351895,-1,1
2120,2014-06-30 17:14:00,2014-06-30,Woodlawn Ave & 55th St,2352228,1,2
2120,2014-06-30 17:14:00,2014-06-30,Woodlawn Ave & 55th St,2352228,-1,1
1959,2014-06-30 17:21:00,2014-06-30,Woodlawn Ave & 55th St,2352423,1,2
988,2014-06-30 18:06:00,2014-06-30,Woodlawn Ave & 55th St,2353625,-1,1
532,2014-06-30 18:35:00,2014-06-30,Woodlawn Ave & 55th St,2354228,-1,0
331,2014-06-30 18:57:00,2014-06-30,Woodlawn Ave & 55th St,2354499,1,1

In [21]:
# maximum departures-arrivals for each station 
max_sum = departures_and_arrivals.groupby(['station_name','date'])['cumulative_sum'].max().reset_index()
max_sum

                 station_name        date  cumulative_sum
0              900 W Harrison  2014-01-09               2
1              900 W Harrison  2014-01-10              -1
2              900 W Harrison  2014-01-11               1
3              900 W Harrison  2014-01-12               2
4              900 W Harrison  2014-01-13               0
5              900 W Harrison  2014-01-14               2
6              900 W Harrison  2014-01-15              -1
7              900 W Harrison  2014-01-16               7
8              900 W Harrison  2014-01-17              -1
9              900 W Harrison  2014-01-20               0
10             900 W Harrison  2014-01-21               1
11             900 W Harrison  2014-01-22               0
12             900 W Harrison  2014-01-23              -1
13             900 W Harrison  2014-01-24              -1
14             900 W Harrison  2014-01-25               1
15             900 W Harrison  2014-01-27              -1
16             900 W Harrison  2014-01-28               0
17             900 W Harrison  2014-01-29               3
18             900 W Harrison  2014-01-30               0
19             900 W Harrison  2014-01-31              -1
20             900 W Harrison  2014-02-01               1
21             900 W Harrison  2014-02-02               1
22             900 W Harrison  2014-02-03               2
23             900 W Harrison  2014-02-04              -1
24             900 W Harrison  2014-02-05               3
25             900 W Harrison  2014-02-06               2
26             900 W Harrison  2014-02-07              -1
27             900 W Harrison  2014-02-08               0
28             900 W Harrison  2014-02-10               0
29             900 W Harrison  2014-02-11               0
...                       ...         ...             ...
48158  Woodlawn Ave & 55th St  2014-06-01               1
48159  Woodlawn Ave & 55th St  2014-06-02               1
48160  Woodlawn Ave & 55th St  2014-06-03               0
48161  Woodlawn Ave & 55th St  2014-06-04               1
48162  Woodlawn Ave & 55th St  2014-06-05               3
48163  Woodlawn Ave & 55th St  2014-06-06               4
48164  Woodlawn Ave & 55th St  2014-06-07               7
48165  Woodlawn Ave & 55th St  2014-06-08               2
48166  Woodlawn Ave & 55th St  2014-06-09               2
48167  Woodlawn Ave & 55th St  2014-06-10               2
48168  Woodlawn Ave & 55th St  2014-06-11               1
48169  Woodlawn Ave & 55th St  2014-06-12               1
48170  Woodlawn Ave & 55th St  2014-06-13               2
48171  Woodlawn Ave & 55th St  2014-06-14              10
48172  Woodlawn Ave & 55th St  2014-06-15               7
48173  Woodlawn Ave & 55th St  2014-06-16              -1
48174  Woodlawn Ave & 55th St  2014-06-17               3
48175  Woodlawn Ave & 55th St  2014-06-18               2
48176  Woodlawn Ave & 55th St  2014-06-19               1
48177  Woodlawn Ave & 55th St  2014-06-20               3
48178  Woodlawn Ave & 55th St  2014-06-21               6
48179  Woodlawn Ave & 55th St  2014-06-22               4
48180  Woodlawn Ave & 55th St  2014-06-23               3
48181  Woodlawn Ave & 55th St  2014-06-24               4
48182  Woodlawn Ave & 55th St  2014-06-25              -1
48183  Woodlawn Ave & 55th St  2014-06-26               1
48184  Woodlawn Ave & 55th St  2014-06-27               2
48185  Woodlawn Ave & 55th St  2014-06-28               4
48186  Woodlawn Ave & 55th St  2014-06-29               7
48187  Woodlawn Ave & 55th St  2014-06-30               2

[48188 rows x 3 columns]

In [22]:
dfa = pd.merge(max_sum, stationdf, how='left',left_on=['station_name'], right_on='name')
dfa = dfa[['date','station_name','cumulative_sum','dpcapacity']]
dfa['difference'] = dfa['dpcapacity'] - dfa['cumulative_sum']
dfa

,date,station_name,cumulative_sum,dpcapacity,difference
0,2014-01-09,900 W Harrison,2,19,17
1,2014-01-10,900 W Harrison,-1,19,20
2,2014-01-11,900 W Harrison,1,19,18
3,2014-01-12,900 W Harrison,2,19,17
4,2014-01-13,900 W Harrison,0,19,19
5,2014-01-14,900 W Harrison,2,19,17
6,2014-01-15,900 W Harrison,-1,19,20
7,2014-01-16,900 W Harrison,7,19,12
8,2014-01-17,900 W Harrison,-1,19,20
9,2014-01-20,900 W Harrison,0,19,19
10,2014-01-21,900 W Harrison,1,19,18
11,2014-01-22,900 W Harrison,0,19,19
12,2014-01-23,900 W Harrison,-1,19,20
13,2014-01-24,900 W Harrison,-1,19,20
14,2014-01-25,900 W Harrison,1,19,18
15,2014-01-27,900 W Harrison,-1,19,20
16,2014-01-28,900 W Harrison,0,19,19
17,2014-01-29,900 W Harrison,3,19,16
18,2014-01-30,900 W Harrison,0,19,19
19,2014-01-31,900 W Harrison,-1,19,20
20,2014-02-01,900 W Harrison,1,19,18
21,2014-02-02,900 W Harrison,1,19,18
22,2014-02-03,900 W Harrison,2,19,17
23,2014-02-04,900 W Harrison,-1,19,20
24,2014-02-05,900 W Harrison,3,19,16
25,2014-02-06,900 W Harrison,2,19,17
26,2014-02-07,900 W Harrison,-1,19,20
27,2014-02-08,900 W Harrison,0,19,19
28,2014-02-10,900 W Harrison,0,19,19
29,2014-02-11,900 W Harrison,0,19,19
...,...,...,...,...,...
48158,2014-06-01,Woodlawn Ave & 55th St,1,15,14
48159,2014-06-02,Woodlawn Ave & 55th St,1,15,14
48160,2014-06-03,Woodlawn Ave & 55th St,0,15,15
48161,2014-06-04,Woodlawn Ave & 55th St,1,15,14
48162,2014-06-05,Woodlawn Ave & 55th St,3,15,12
48163,2014-06-06,Woodlawn Ave & 55th St,4,15,11
48164,2014-06-07,Woodlawn Ave & 55th St,7,15,8
48165,2014-06-08,Woodlawn Ave & 55th St,2,15,13
48166,2014-06-09,Woodlawn Ave & 55th St,2,15,13
48167,2014-06-10,Woodlawn Ave & 55th St,2,15,13
48168,2014-06-11,Woodlawn Ave & 55th St,1,15,14
48169,2014-06-12,Woodlawn Ave & 55th St,1,15,14
48170,2014-06-13,Woodlawn Ave & 55th St,2,15,13
48171,2014-06-14,Woodlawn Ave & 55th St,10,15,5
48172,2014-06-15,Woodlawn Ave & 55th St,7,15,8
48173,2014-06-16,Woodlawn Ave & 55th St,-1,15,16
48174,2014-06-17,Woodlawn Ave & 55th St,3,15,12
48175,2014-06-18,Woodlawn Ave & 55th St,2,15,13
48176,2014-06-19,Woodlawn Ave & 55th St,1,15,14
48177,2014-06-20,Woodlawn Ave & 55th St,3,15,12
48178,2014-06-21,Woodlawn Ave & 55th St,6,15,9
48179,2014-06-22,Woodlawn Ave & 55th St,4,15,11
48180,2014-06-23,Woodlawn Ave & 55th St,3,15,12
48181,2014-06-24,Woodlawn Ave & 55th St,4,15,11
48182,2014-06-25,Woodlawn Ave & 55th St,-1,15,16
48183,2014-06-26,Woodlawn Ave & 55th St,1,15,14
48184,2014-06-27,Woodlawn Ave & 55th St,2,15,13
48185,2014-06-28,Woodlawn Ave & 55th St,4,15,11
48186,2014-06-29,Woodlawn Ave & 55th St,7,15,8
48187,2014-06-30,Woodlawn Ave & 55th St,2,15,13

In [23]:
dfa[(dfa['difference']<0)]

,date,station_name,cumulative_sum,dpcapacity,difference
337,2014-06-25,Aberdeen St & Jackson Blvd,16,15,-1
813,2014-06-21,Adler Planetarium,24,19,-5
1179,2014-06-05,Ashland Ave & Augusta Blvd,16,15,-1
1483,2014-05-10,Ashland Ave & Blackhawk St,17,15,-2
1529,2014-06-25,Ashland Ave & Blackhawk St,17,15,-2
1857,2014-06-07,Ashland Ave & Division St,24,19,-5
1875,2014-06-25,Ashland Ave & Division St,26,19,-7
2044,2014-06-29,Ashland Ave & Grace St,16,15,-1
2499,2014-05-24,Ashland Ave & Wellington Ave,21,19,-2
2528,2014-06-22,Ashland Ave & Wellington Ave,20,19,-1
2853,2014-06-14,Bissell St & Armitage Ave,17,15,-2
3435,2014-04-11,Broadway & Barry Ave,28,15,-13
3436,2014-04-12,Broadway & Barry Ave,43,15,-28
3437,2014-04-13,Broadway & Barry Ave,17,15,-2
3479,2014-05-25,Broadway & Barry Ave,24,15,-9
3485,2014-05-31,Broadway & Barry Ave,20,15,-5
3499,2014-06-14,Broadway & Barry Ave,16,15,-1
3649,2014-05-25,Broadway & Belmont Ave,16,15,-1
3650,2014-05-26,Broadway & Belmont Ave,19,15,-4
3939,2014-04-19,Broadway & Cornelia Ave,20,15,-5
3969,2014-05-19,Broadway & Cornelia Ave,16,15,-1
3975,2014-05-25,Broadway & Cornelia Ave,19,15,-4
4002,2014-06-21,Broadway & Cornelia Ave,23,15,-8
4124,2014-05-11,Broadway & Sheridan Rd,16,15,-1
5258,2014-06-17,Calumet Ave & 18th St,17,15,-2
5260,2014-06-19,Calumet Ave & 18th St,16,15,-1
5709,2014-04-07,Canal St & Adams St,50,39,-11
5710,2014-04-08,Canal St & Adams St,56,39,-17
5711,2014-04-09,Canal St & Adams St,62,39,-23
5712,2014-04-10,Canal St & Adams St,61,39,-22
...,...,...,...,...,...
44068,2014-06-14,Wabash Ave & Grand Ave,16,15,-1
44069,2014-06-15,Wabash Ave & Grand Ave,17,15,-2
44083,2014-06-29,Wabash Ave & Grand Ave,18,15,-3
44232,2014-06-02,Wabash Ave & Roosevelt Rd,20,19,-1
44243,2014-06-13,Wabash Ave & Roosevelt Rd,21,19,-2
44599,2014-04-26,Wells St & Concord Ln,22,19,-3
44623,2014-05-20,Wells St & Concord Ln,22,19,-3
44648,2014-06-14,Wells St & Concord Ln,40,19,-21
44653,2014-06-19,Wells St & Concord Ln,20,19,-1
44659,2014-06-25,Wells St & Concord Ln,20,19,-1
44989,2014-06-06,Wells St & Evergreen Ave,25,19,-6
45003,2014-06-20,Wells St & Evergreen Ave,21,19,-2
45007,2014-06-24,Wells St & Evergreen Ave,22,19,-3
45010,2014-06-27,Wells St & Evergreen Ave,21,19,-2
45314,2014-05-14,Wells St & Polk St,20,19,-1
45337,2014-06-06,Wells St & Polk St,26,19,-7
45344,2014-06-13,Wells St & Polk St,26,19,-7
45349,2014-06-18,Wells St & Polk St,21,19,-2
45358,2014-06-27,Wells St & Polk St,21,19,-2
46277,2014-05-04,Western Ave & Leland Ave,17,15,-2
47664,2014-06-01,Wood St & Milwaukee Ave,17,15,-2
47683,2014-06-20,Wood St & Milwaukee Ave,16,15,-1
47781,2014-04-12,Wood St & North Ave,12,11,-1
47823,2014-05-24,Wood St & North Ave,15,11,-4
47824,2014-05-25,Wood St & North Ave,12,11,-1
47839,2014-06-09,Wood St & North Ave,14,11,-3
47842,2014-06-12,Wood St & North Ave,14,11,-3
47843,2014-06-13,Wood St & North Ave,12,11,-1
47845,2014-06-15,Wood St & North Ave,13,11,-2
47848,2014-06-18,Wood St & North Ave,13,11,-2

In [24]:
departures_and_arrivals[(departures_and_arrivals['station_name']=='Broadway & Barry Ave')&
                        (departures_and_arrivals['date']==dt.date(2014,6,19))]

,datetime,date,station_name,trip_id,trip_counts,cumulative_sum
144322,2014-06-19 06:02:00,2014-06-19,Broadway & Barry Ave,2168021,-1,-1
144308,2014-06-19 06:08:00,2014-06-19,Broadway & Barry Ave,2168036,1,0
144067,2014-06-19 06:54:00,2014-06-19,Broadway & Barry Ave,2168331,1,1
143972,2014-06-19 07:08:00,2014-06-19,Broadway & Barry Ave,2168468,-1,0
143656,2014-06-19 07:40:00,2014-06-19,Broadway & Barry Ave,2168876,1,1
143021,2014-06-19 08:20:00,2014-06-19,Broadway & Barry Ave,2169672,1,2
143031,2014-06-19 08:20:00,2014-06-19,Broadway & Barry Ave,2169657,1,3
142999,2014-06-19 08:21:00,2014-06-19,Broadway & Barry Ave,2169698,-1,2
142541,2014-06-19 08:50:00,2014-06-19,Broadway & Barry Ave,2170324,1,3
141891,2014-06-19 10:22:00,2014-06-19,Broadway & Barry Ave,2171400,1,4
141774,2014-06-19 10:41:00,2014-06-19,Broadway & Barry Ave,2171601,1,5
141227,2014-06-19 12:07:00,2014-06-19,Broadway & Barry Ave,2172415,1,6
141225,2014-06-19 12:07:00,2014-06-19,Broadway & Barry Ave,2172418,1,7
140893,2014-06-19 12:47:00,2014-06-19,Broadway & Barry Ave,2172896,-1,6
140443,2014-06-19 13:37:00,2014-06-19,Broadway & Barry Ave,2173542,-1,5
140439,2014-06-19 13:38:00,2014-06-19,Broadway & Barry Ave,2173546,-1,4
140211,2014-06-19 14:05:00,2014-06-19,Broadway & Barry Ave,2173879,-1,3
140209,2014-06-19 14:06:00,2014-06-19,Broadway & Barry Ave,2173881,1,4
139984,2014-06-19 14:34:00,2014-06-19,Broadway & Barry Ave,2174183,1,5
139985,2014-06-19 14:34:00,2014-06-19,Broadway & Barry Ave,2174182,1,6
139835,2014-06-19 14:51:00,2014-06-19,Broadway & Barry Ave,2174428,-1,5
139716,2014-06-19 15:05:00,2014-06-19,Broadway & Barry Ave,2174602,-1,4
139683,2014-06-19 15:09:00,2014-06-19,Broadway & Barry Ave,2174664,1,5
139552,2014-06-19 15:23:00,2014-06-19,Broadway & Barry Ave,2174889,-1,4
139368,2014-06-19 15:42:00,2014-06-19,Broadway & Barry Ave,2175120,1,5
138922,2014-06-19 16:15:00,2014-06-19,Broadway & Barry Ave,2175741,-1,4
138871,2014-06-19 16:19:00,2014-06-19,Broadway & Barry Ave,2175802,1,5
138857,2014-06-19 16:20:00,2014-06-19,Broadway & Barry Ave,2175824,1,6
138590,2014-06-19 16:37:00,2014-06-19,Broadway & Barry Ave,2176231,-1,5
138518,2014-06-19 16:42:00,2014-06-19,Broadway & Barry Ave,2176314,1,6
...,...,...,...,...,...,...
137934,2014-06-19 17:10:00,2014-06-19,Broadway & Barry Ave,2177039,-1,3
137517,2014-06-19 17:26:00,2014-06-19,Broadway & Barry Ave,2177581,1,4
137477,2014-06-19 17:27:00,2014-06-19,Broadway & Barry Ave,2177627,1,5
137157,2014-06-19 17:41:00,2014-06-19,Broadway & Barry Ave,2178014,1,6
137088,2014-06-19 17:44:00,2014-06-19,Broadway & Barry Ave,2178093,-1,5
136902,2014-06-19 17:51:00,2014-06-19,Broadway & Barry Ave,2178306,-1,4
136762,2014-06-19 17:58:00,2014-06-19,Broadway & Barry Ave,2178483,1,5
136736,2014-06-19 18:00:00,2014-06-19,Broadway & Barry Ave,2178518,-1,4
136709,2014-06-19 18:01:00,2014-06-19,Broadway & Barry Ave,2178549,-1,3
136675,2014-06-19 18:02:00,2014-06-19,Broadway & Barry Ave,2178591,1,4
136659,2014-06-19 18:03:00,2014-06-19,Broadway & Barry Ave,2178607,-1,3
135917,2014-06-19 18:41:00,2014-06-19,Broadway & Barry Ave,2179515,1,4
135877,2014-06-19 18:44:00,2014-06-19,Broadway & Barry Ave,2179566,-1,3
135833,2014-06-19 18:47:00,2014-06-19,Broadway & Barry Ave,2179617,-1,2
135783,2014-06-19 18:50:00,2014-06-19,Broadway & Barry Ave,2179681,-1,1
135672,2014-06-19 18:57:00,2014-06-19,Broadway & Barry Ave,2179823,-1,0
135491,2014-06-19 19:07:00,2014-06-19,Broadway & Barry Ave,2180030,1,1
135489,2014-06-19 19:07:00,2014-06-19,Broadway & Barry Ave,2180033,1,2
135467,2014-06-19 19:09:00,2014-06-19,Broadway & Barry Ave,2180065,-1,1
135463,2014-06-19 19:09:00,2014-06-19,Broadway & Barry Ave,2180070,-1,0
135382,2014-06-19 19:15:00,2014-06-19,Broadway & Barry Ave,2180177,-1,-1
135183,2014-06-19 19:31:00,2014-06-19,Broadway & Barry Ave,2180471,1,0
135182,2014-06-19 19:31:00,2014-06-19,Broadway & Barry Ave,2180472,1,1
135028,2014-06-19 19:42:00,2014-06-19,Broadway & Barry Ave,2180672,-1,0
134827,2014-06-19 20:02:00,2014-06-19,Broadway & Barry Ave,2180970,1,1
134669,2014-06-19 20:20:00,2014-06-19,Broadway & Barry Ave,2181208,1,2
134665,2014-06-19 20:20:00,2014-06-19,Broadway & Barry Ave,2181212,-1,1
134508,2014-06-19 20:40:00,2014-06-19,Broadway & Barry Ave,2181421,1,2
134436,2014-06-19 20:50:00,2014-06-19,Broadway & Barry Ave,2181506,-1,1
134245,2014-06-19 22:56:00,2014-06-19,Broadway & Barry Ave,2181912,1,2

In [25]:
arrivals2 = arrivals.copy()

In [26]:
arrivals2['date'] = arrivals2['datetime'].dt.date

In [27]:
arrivals2.head()

                  datetime    station_name  trip_id  trip_counts        date
905030 2014-01-09 08:45:00  900 W Harrison  1111310           -1  2014-01-09
904512 2014-01-09 18:43:00  900 W Harrison  1112605           -1  2014-01-09
904086 2014-01-10 08:44:00  900 W Harrison  1113554           -1  2014-01-10
904039 2014-01-10 09:01:00  900 W Harrison  1113612           -1  2014-01-10
901677 2014-01-13 06:05:00  900 W Harrison  1118830           -1  2014-01-13

In [28]:
departures2 = departures.copy()

In [29]:
departures2['date'] = departures2['datetime'].dt.date

In [30]:
departures2.head()

                  datetime    station_name  trip_id  trip_counts        date
904881 2014-01-09 12:11:00  900 W Harrison  1111738            1  2014-01-09
904715 2014-01-09 16:48:00  900 W Harrison  1112226            1  2014-01-09
904512 2014-01-09 18:43:00  900 W Harrison  1112605            1  2014-01-09
904509 2014-01-09 18:45:00  900 W Harrison  1112609            1  2014-01-09
903649 2014-01-10 17:39:00  900 W Harrison  1114754            1  2014-01-10

In [31]:
arrivals2.loc[( (arrivals2['date']==dt.date(2014,6,19)) & 
               (arrivals2['station_name'] ==  'Broadway & Barry Ave') ), :]

,datetime,station_name,trip_id,trip_counts,date
144322,2014-06-19 06:02:00,Broadway & Barry Ave,2168021,-1,2014-06-19
143972,2014-06-19 07:08:00,Broadway & Barry Ave,2168468,-1,2014-06-19
142999,2014-06-19 08:21:00,Broadway & Barry Ave,2169698,-1,2014-06-19
140893,2014-06-19 12:47:00,Broadway & Barry Ave,2172896,-1,2014-06-19
140443,2014-06-19 13:37:00,Broadway & Barry Ave,2173542,-1,2014-06-19
140439,2014-06-19 13:38:00,Broadway & Barry Ave,2173546,-1,2014-06-19
140211,2014-06-19 14:05:00,Broadway & Barry Ave,2173879,-1,2014-06-19
139835,2014-06-19 14:51:00,Broadway & Barry Ave,2174428,-1,2014-06-19
139716,2014-06-19 15:05:00,Broadway & Barry Ave,2174602,-1,2014-06-19
139552,2014-06-19 15:23:00,Broadway & Barry Ave,2174889,-1,2014-06-19
138922,2014-06-19 16:15:00,Broadway & Barry Ave,2175741,-1,2014-06-19
138590,2014-06-19 16:37:00,Broadway & Barry Ave,2176231,-1,2014-06-19
138452,2014-06-19 16:47:00,Broadway & Barry Ave,2176398,-1,2014-06-19
138296,2014-06-19 16:51:00,Broadway & Barry Ave,2176593,-1,2014-06-19
137934,2014-06-19 17:10:00,Broadway & Barry Ave,2177039,-1,2014-06-19
137088,2014-06-19 17:44:00,Broadway & Barry Ave,2178093,-1,2014-06-19
136902,2014-06-19 17:51:00,Broadway & Barry Ave,2178306,-1,2014-06-19
136736,2014-06-19 18:00:00,Broadway & Barry Ave,2178518,-1,2014-06-19
136709,2014-06-19 18:01:00,Broadway & Barry Ave,2178549,-1,2014-06-19
136659,2014-06-19 18:03:00,Broadway & Barry Ave,2178607,-1,2014-06-19
135877,2014-06-19 18:44:00,Broadway & Barry Ave,2179566,-1,2014-06-19
135833,2014-06-19 18:47:00,Broadway & Barry Ave,2179617,-1,2014-06-19
135783,2014-06-19 18:50:00,Broadway & Barry Ave,2179681,-1,2014-06-19
135672,2014-06-19 18:57:00,Broadway & Barry Ave,2179823,-1,2014-06-19
135467,2014-06-19 19:09:00,Broadway & Barry Ave,2180065,-1,2014-06-19
135463,2014-06-19 19:09:00,Broadway & Barry Ave,2180070,-1,2014-06-19
135382,2014-06-19 19:15:00,Broadway & Barry Ave,2180177,-1,2014-06-19
135028,2014-06-19 19:42:00,Broadway & Barry Ave,2180672,-1,2014-06-19
134665,2014-06-19 20:20:00,Broadway & Barry Ave,2181212,-1,2014-06-19
134436,2014-06-19 20:50:00,Broadway & Barry Ave,2181506,-1,2014-06-19

In [32]:
departures2.loc[( (departures2['date']==dt.date(2014,6,19)) & 
               (departures2['station_name'] == 'Broadway & Barry Ave') ), :]

,datetime,station_name,trip_id,trip_counts,date
144308,2014-06-19 06:08:00,Broadway & Barry Ave,2168036,1,2014-06-19
144067,2014-06-19 06:54:00,Broadway & Barry Ave,2168331,1,2014-06-19
143656,2014-06-19 07:40:00,Broadway & Barry Ave,2168876,1,2014-06-19
143021,2014-06-19 08:20:00,Broadway & Barry Ave,2169672,1,2014-06-19
143031,2014-06-19 08:20:00,Broadway & Barry Ave,2169657,1,2014-06-19
142541,2014-06-19 08:50:00,Broadway & Barry Ave,2170324,1,2014-06-19
141891,2014-06-19 10:22:00,Broadway & Barry Ave,2171400,1,2014-06-19
141774,2014-06-19 10:41:00,Broadway & Barry Ave,2171601,1,2014-06-19
141227,2014-06-19 12:07:00,Broadway & Barry Ave,2172415,1,2014-06-19
141225,2014-06-19 12:07:00,Broadway & Barry Ave,2172418,1,2014-06-19
140209,2014-06-19 14:06:00,Broadway & Barry Ave,2173881,1,2014-06-19
139984,2014-06-19 14:34:00,Broadway & Barry Ave,2174183,1,2014-06-19
139985,2014-06-19 14:34:00,Broadway & Barry Ave,2174182,1,2014-06-19
139683,2014-06-19 15:09:00,Broadway & Barry Ave,2174664,1,2014-06-19
139368,2014-06-19 15:42:00,Broadway & Barry Ave,2175120,1,2014-06-19
138871,2014-06-19 16:19:00,Broadway & Barry Ave,2175802,1,2014-06-19
138857,2014-06-19 16:20:00,Broadway & Barry Ave,2175824,1,2014-06-19
138518,2014-06-19 16:42:00,Broadway & Barry Ave,2176314,1,2014-06-19
137517,2014-06-19 17:26:00,Broadway & Barry Ave,2177581,1,2014-06-19
137477,2014-06-19 17:27:00,Broadway & Barry Ave,2177627,1,2014-06-19
137157,2014-06-19 17:41:00,Broadway & Barry Ave,2178014,1,2014-06-19
136762,2014-06-19 17:58:00,Broadway & Barry Ave,2178483,1,2014-06-19
136675,2014-06-19 18:02:00,Broadway & Barry Ave,2178591,1,2014-06-19
135917,2014-06-19 18:41:00,Broadway & Barry Ave,2179515,1,2014-06-19
135491,2014-06-19 19:07:00,Broadway & Barry Ave,2180030,1,2014-06-19
135489,2014-06-19 19:07:00,Broadway & Barry Ave,2180033,1,2014-06-19
135183,2014-06-19 19:31:00,Broadway & Barry Ave,2180471,1,2014-06-19
135182,2014-06-19 19:31:00,Broadway & Barry Ave,2180472,1,2014-06-19
134827,2014-06-19 20:02:00,Broadway & Barry Ave,2180970,1,2014-06-19
134669,2014-06-19 20:20:00,Broadway & Barry Ave,2181208,1,2014-06-19
134508,2014-06-19 20:40:00,Broadway & Barry Ave,2181421,1,2014-06-19
134245,2014-06-19 22:56:00,Broadway & Barry Ave,2181912,1,2014-06-19

In [33]:
stationdf[stationdf['name']=='Broadway & Barry Ave']

                     name  dpcapacity
110  Broadway & Barry Ave          15